body {
  margin: 0;
}
.flex {
  display: flex;
}
.center {
  justify-content: center;
}
.between {
  justify-content: space-between;
}
.gap {
  gap: 5px;
  font-size: 18px;
}
.gap15 {
  gap: 15px;
}
.margintop50 {
  margin-top: 50px;
}
.border {
  border-radius: 5px;
}
.font-bold {
  font-weight: 700;
}
.cursor {
  cursor: pointer;
}
.textdec {
  text-decoration: none;
}
.zindex-1 {
  z-index: -1;
}
.overflow {
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 950px;
  background: linear-gradient(#fff, #ebe9e9);
}

.wrapper {
  width: 1100px;
  margin: auto;
}
header {
  justify-content: center;
}
.nav-img {
  max-width: 100px;
  padding: 40px;
}
nav {
  gap: 60px;
  font-size: 16px;
  align-items: center;
  font-weight: 700;
}
.navtop {
  color: #000;
}
.nav-link {
  font-size: 15px;
  font-weight: lighter;
  gap: 40px;
  margin-left: 100px;
}
.text-green {
  color: #2adb00;
  font-size: 23px;
}
.text-7 {
  line-height: 20px;
}

/* section */

section {
  margin-top: 20px;
}
article {
  width: 583px;
  height: 345px;
  background: linear-gradient(90deg, #ebe9e9, #f4f4f4);
  padding: 40px 0px 0px 40px;
}
button {
  border-radius: 100px;
  padding: 8px 15px;
  border: 0px;
  background: linear-gradient(129deg, #c40097, #d6710b);
}
.text-4 {
  font-size: 26px;
  text-align: left;
  width: 500px;
}
.text-5 {
  opacity: 0.4;
  font-weight: 500;
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 500px;
}
.img-mid {
  height: 385px;
  max-width: 550px;
  object-fit: cover;
  border-radius: 5px;
}
.hovertext {
  background-color: rgba(0, 0, 0, 0.3);
  width: 550px;
  height: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 250ms ease-in-out;
}
.hoverimg:hover > img {
  transform: scale(1.2);
}
img {
  transition: transform 250ms ease-in-out;
}
.hoverimg:hover > .hovertext {
  opacity: 1;
}

/* cards */
.cardshover:hover > img {
  transform: scale(1.2);
}
.cardshover:hover > .hovertext1 {
  opacity: 1;
}
.hovertext1 {
  background-color: rgba(0, 0, 0, 0.3);
  width: 285px;
  height: 193px;
  align-items: center;
  justify-content: center;
  color: #fff;
  top: 0;
  left: 0;
  opacity: 0;
}
.container-card {
  margin-top: 30px;
  gap: 15px;
}
.cards {
  height: 175px;
  width: 285px;
  object-fit: cover;
}
.text-6 {
  font-weight: 600;
  width: 285px;
  color: #000;
}
.text-13 {
  font-weight: 500;
  width: 285px;
}
.commentt {
  opacity: 0.5;
  font-size: 15px;
  color: #000;
}
.gogo-banner {
  height: 280px;
  max-width: 100%;
}

/* story */

.bg-story {
  position: relative;
  overflow: hidden;
}
.bg-story:hover > img {
  transform: scale(1.2);
}
.bg-story:hover > .ontext {
  overflow: visible;
}
.ontext {
  color: #fff;
  overflow: hidden;
  max-height: 22px;
  width: 150px;
  margin-top: 170px;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  left: 0;
  top: 0;
}
.story {
  margin-top: 40px;
  flex-direction: column;
}
.storyImg {
  gap: 15px;
  margin-top: 20px;
}
.story-title-1 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
.story-title-2 {
  background-color: #00b0f4;
  border-radius: 3px;
  padding: 2px 3px;
  color: #fff;
  font-size: 18px;
}

.story-img {
  height: 245px;
  width: 170px;
  object-fit: cover;
  border-radius: 5px;
}

.posb {
  position: absolute;
  bottom: 0;
  left: 0;
}
.posr {
  position: relative;
}
.glogo {
  width: 30px;
  padding: 10px;
  left: 0;
  top: 0;
}

/* Main content */

.calendarMain {
  gap: 20px;
  margin-top: 40px;
}
.text-8 {
  margin-top: -28px;
  color: #407ce8;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 16px;
}
.imgtsetseg {
  vertical-align: middle;
  width: 23px;
}
.calendarOneDay {
  width: 103px;
  height: 9px;

  background-color: #407ce8;
  border-radius: 20px;
}
.calendarText1 {
  text-align: center;
  font-size: 13px;
  color: #407ce8;
}
.calendarText2 {
  text-align: center;
  font-size: 13px;
  color: #aba8a8;
}
.calendarOneDay2 {
  width: 103px;
  height: 9px;
  background-color: #efefef;
  border-radius: 20px;
}
.calendarTseg {
  background: #efefef;
  height: 27px;
  line-height: 18px;
  width: 27px;
  border-radius: 5px;
  text-align: center;
  border: none !important;
  transition: all 0.2s ease-in-out;
}
.newsContainer {
  margin-top: 50px;
}
.newsimg {
  height: 150px;
  width: 210px;
  object-fit: cover;
  border-radius: 5px;
}

/* cont */

.newsimgs:hover {
  transform: scale(1.2);
}
.newstext1 {
  background-color: rgba(0, 0, 0, 0.3);
  width: 210px;
  height: 150px;
  align-items: center;
  justify-content: center;
  color: #fff;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 15px;
}
.newsimgs:hover > .newstext1 {
  opacity: 1;
  z-index: 10;
}
.newTexts {
  width: 450px;
  height: 171px;
  padding-left: 30px;
}
.newText1 {
  font-weight: 700;
  font-size: 19px;
  color: #000;
}
.newText2 {
  height: 40px;
  overflow: hidden;
  color: #888;
}
.recklam2 {
  width: 700px;
}
.btm-more {
  background: #f8f8f8;
  border: 1px solid #f2f2f2;
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  margin-top: 30px;
}
.btmimg {
  height: 21px;
  box-sizing: border-box;
  width: 17px;
  align-items: center;
}

/* side Content */

.sidehover:hover > img {
  transform: scale(1.2);
}
.sidehover:hover > .sidehovert {
  opacity: 1;
}
.sidehovert {
  background-color: rgba(0, 0, 0, 0.3);
  width: 290px;
  height: 193px;
  align-items: center;
  justify-content: center;
  color: #fff;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 15px;
}
.sideContent {
  margin-left: 50px;
  border-left: 1px solid #e5e5e5;
  padding: 50px;
  height: 1700px;
}
.sidetitle {
  gap: 10px;
  align-items: center;
}
.sideicon {
  height: 30px;
}
.trendcontainer {
  background-color: #fdfaf5;
  padding: 30px 50px;
  width: 240px;
  margin-top: 30px;
  margin-left: -50px;
}
.text-9 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  align-items: center;
}
.text10 {
  font-size: 16px;
  margin-bottom: 20px;
}
.trendnumber {
  font-weight: 700;
  color: #e00034;
  font-size: 46px;
  line-height: 46px;
}
.trend {
  margin-top: 30px;
  gap: 30px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.06);
}

/* After content */
.imgafterhover:hover > img {
  transform: scale(1.2);
}
main {
  overflow: hidden;
}
.gutal {
  background-color: #407ce8;
  width: 40px;
  height: 20px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.afteron {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  width: 500px;
  align-items: flex-end;
  padding: 30px;
}
.afteron1 {
  color: #fff;
  font-weight: 200;
  font-size: 13px;
  margin: 0;
  padding-left: 15px;
}
.littletitle1 {
  width: 70px;
  height: 20px;
  background-color: #407ce8;
  padding: 2px 5px;
  align-items: center;
  border-radius: 2px;
}
.littlebot {
  padding-top: 10px;
  font-weight: 700;
  border-top: 1px solid hsla(0, 20%, 99%, 0.528);
  font-size: 10px;
  align-items: center;
}
.aftercontent {
  width: 1100px;
  margin: auto;
  margin-top: 160px;
}
.talktitlef {
  margin-top: 40px;
  margin-bottom: 20px;
}
.talktitle {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.talkimg {
  height: 31px;
  box-sizing: border-box;
  width: 27px;
}
.talk {
  display: grid;
  grid-template-areas:
    "header header menu main"
    "header header right footer";
  padding: 10px;
  gap: 12px;
}
.imgafter {
  grid-area: header;
}
.imgafter1 {
  grid-area: menu;
}
.imgafter2 {
  grid-area: main;
}
.imgafter3 {
  grid-area: right;
}
.imgafter4 {
  grid-area: footer;
}
.imgafter {
  width: 600px;
  height: 500px;
  object-fit: cover;
  object-position: top center;
}
.imgafter1 {
  height: 243px;
  object-fit: cover;
  width: 243px;
}
.imgafter2 {
  height: 243px;
  object-fit: cover;
  width: 243px;
}
.imgafter3 {
  height: 243px;
  object-fit: cover;
  width: 243px;
}
.imgafter4 {
  height: 243px;
  object-fit: cover;
  width: 243px;
}

/* gogo hew mayag */

.afterhover:hover > img {
  transform: scale(1.2);
}
.aftercontent2 {
  width: 1100px;
  margin: auto;
  margin-top: 50px;
  align-items: center;
}
.afterimg {
  width: 270px;
  height: 213px;
  object-fit: cover;
  margin-top: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.aftertext {
  border: 1px solid #f1f1f1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -5px;
  padding: 10px;
  width: 270px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  height: 150px;
  color: #000;
}
.comic {
  width: 1100px;
  margin: auto;
  margin-top: 50px;
}
.comici {
  width: 555px;
  height: 220px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.comict {
  width: 532px;
  height: 100px;
  border: 1px solid #f1f1f1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -5px;
  padding: 10px;
}
.comicicon {
  width: 30px;
  height: 31px;
}

/* Entertainment */

.enterhover:hover > img {
  transform: scale(1.2);
}
.enterhover:hover > .enterhovert {
  opacity: 1;
}
.enterhovert {
  background-color: rgba(0, 0, 0, 0.3);
  width: 290px;
  height: 193px;
  align-items: center;
  justify-content: center;
  color: #fff;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 15px;
}
.enter {
  background-color: #1a1a1a;
  padding-top: 50px;
  padding-bottom: 50px;
}
.enterimg {
  height: 175px;
  width: 269px;
  object-fit: cover;
}
.enter1 {
  margin-top: 20px;
}
.enter2 {
  margin-top: 40px;
}

.entert {
  font-size: 20px;
  align-items: center;
  color: white;
  gap: 10px;
}

.text-11 {
  width: 278px;
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 500;
}

/* footer */

footer {
  align-items: center;
  width: 1100px;
  margin: auto;
}
.footertext {
  color: #000;
  font-weight: 500;
}
.footericon {
  width: 20px;
  height: 20px;
}
.footerline {
  border-color: rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #e5e5e5;
  width: 1100px;
}
.text-12 {
  font-size: 14px;
  width: 1100px;
  margin: auto;
  margin-bottom: 30px;
}
.logo {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  opacity: 0.2;
}
/* tablet */

@media screen and (max-width: 960px) {
  .container {
    background: #fff;
  }
  header {
    justify-content: start;
    align-items: center;
  }
  .nav-link {
    gap: 7px;
    margin: 0;
  }
  .text-1 {
    border: 1px solid rgba(0, 0, 0, 0.06);
    margin-top: 10px;
    padding: 1px 7px;
    border-radius: 5px;
    margin-bottom: 0px;
  }
  .text-2 {
    margin-top: 10px;
    padding: 1px 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.06);
  }
  .text-3 {
    margin-top: 10px;
    padding: 1px 7px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.06);
  }
  .burger-menu {
    padding: 15px 20px;
  }
  .nav-img {
    padding: 10px;
    height: 30px;
  }
  .navtop {
    display: none;
  }
  .recklamfirst {
    display: none;
  }
}
